<% if current_user.try(:admin?) %>
  <div class="layout horizontal center-justified" id="delete-product">
    <%= link_to "delete", blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<div class="outside-container layout horizontal wrap center-justified">
  <div style="text-align:center;max-width: 37em;">
    <p><%= @blog.created_at.strftime("%B %-d, %Y") %></p>
    <h1><%= @blog.post.title %></h1>
  </div>

  <div id="post-content">
    <%= raw @blog.post.content %>
  </div>

  <div class="layout center-justified horizontal around-justified" style="margin:auto;margin-top:3em;width:30em;">
    <%= link_to @blog, class: "layout horizontal center comment-link" do %>
      <svg style="width:15px;height:15px;margin-right:8px;" viewBox="0 0 24 24">
        <path fill="#000000" d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
      </svg>
      0 likes
    <% end %>

    <%= link_to @blog, class: "layout horizontal center comment-link" do %>
      <i class="material-icons" style="margin-right:8px;font-size:1em;">share</i>
      share
    <% end %>
  </div>

</div>

<% if current_user.try(:admin?) %>
  <%= link_to edit_blog_path(@blog) do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab">
      <i class="material-icons">edit</i>
    </button>
  <% end %>
<% end %>
