= render "layouts/account_tabs", active_tab: :settings
.container.layout.vertical.center
  %h2 Settings
  = form_for resource, as: resource_name, url: registration_path(resource_name),
      builder: FormBuilder, html: { method: :put } do |f|
    .layout.vertical.center.w-100
      = f.text_field :name, autofocus: true
      = f.email_field :email, required: true
      = f.password_field :password, required: true
      = f.password_field :password_confirmation,
            label: "Confirm", required: true
      .mt-2= f.submit "Update"

  .layout.vertical.center.mt-6
    %h2 Unhappy?
    = link_to "Cancel my account", registration_path(resource_name),
        data: { confirm: "Are you sure?" }, method: :delete,
        class: "large-round-btn px-3"
