<%= form_for([@user, @credit_card]) do |f| %>
  <% if @credit_card.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @credit_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :stripe_card_token %>

  <div style="width:300px;">
    <div class="layout horizontal">
      <div class="layout horizontal center justified flex">
        <i class="fa fa-cc-discover"></i>
        <i class="fa fa-cc-mastercard"></i>
        <i class="fa fa-cc-visa"></i>
        <i class="fa fa-cc-amex"></i>
        <i class="fa fa-cc-diners-club"></i>
        <i class="fa fa-cc-jcb"></i>
      </div>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= text_field_tag :name, nil, name: nil, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label">Name on card</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= text_field_tag :card_number, nil, name: nil, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label">Credit Card Number</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= text_field_tag :card_code, nil, name: nil, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label">Security Code on Card (CVV)</label>
    </div>

    <div class="layout horizontal">
      <div style="font-size:11px;" class="layout vertical center-justified">
        Card Expiration:
      </div>

      <div class="mdl-textfield mdl-js-textfield" style="width:48%;">
        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month", class: "mdl-textfield__input"} %>
        <label class="mdl-textfield__label">Exp Month</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield" style="width:25%;">
        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: "mdl-textfield__input"} %>
        <label class="mdl-textfield__label">Exp Year</label>
      </div>
    </div>

    <div id="stripe_error">
      <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
    </div>

    <div class="layout horizontal center-justified">
      <div class="mdl-spinner mdl-js-spinner is-active" style="display:none;margin-top:10px;" id="credit-card-spinner"></div>

      <div class="submit-container2" id="credit-card-submit-container">
        <%= f.submit "Add Credit Card" %>
      </div>
    </div>
  </div>
<% end %>
