<div class="outside-container layout vertical">
  <div class="layout horizontal center-justified">
    <div>

      <h2>Your Wallet</h2>

      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric"></th>
            <th class="mdl-data-table__cell--non-numeric">Brand</th>
            <th>Last 4</th>
            <th>Expiration</th>
            <th class="mdl-data-table__cell--non-numeric"></th>
          </tr>
        </thead>

        <tbody>
          <% @credit_cards.each do |credit_card| %>
            <tr>
              <td style="padding-top: 11px;">
                <i class="fa fa-cc-<%= credit_card.icon %>"></i>
              </td>
              <td class="mdl-data-table__cell--non-numeric"><%= credit_card.brand %></td>
              <td><%= credit_card.last4 %></td>
              <td><%= credit_card.exp_month %>/<%= credit_card.exp_year %></td>
              <td>
                <%= link_to user_credit_card_path(@user, credit_card), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="material-icons">delete</i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to new_user_credit_card_path(@user) do %>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab">
    <i class="material-icons">add</i>
  </button>
<% end %>
