<div style="box-sizing: border-box;width: auto;margin: auto;max-width: 1080px;padding: 50px 34px 100px 34px;" class="layout vertical">
  <h2 style="text-align:center;">Change your password</h2>

  <div class="layout horizontal center-justified">
    <div style="width:350px;">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.password_field :password, class: "mdl-textfield__input" %>
          <label class="mdl-textfield__label" for="user_password"><%= "New password" + ( " (" + @minimum_password_length.to_s + " characters minimum)") if @minimum_password_length %></label>
        </div>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <%= f.password_field :password_confirmation, class: "mdl-textfield__input" %>
          <label class="mdl-textfield__label" for="user_password_confirmation">Confirm new password</label>
        </div>

        <div class="layout horizontal center-justified">
          <div class="submit-container2">
            <%= f.submit "Change my password" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
