<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div id="order-form-shipping">
    <p>Contact & Shipping</p>

    <% if current_user.addresses.count == 0 %>
      <div class="layout horizontal center-justified">
        <%= link_to 'Add Address', new_user_address_path(current_user), id: "submit-order" %>
      </div>
    <% else %>
      <div id="shipping-header">Shipping Address</div>

      <div class="layout vertical center-justified ">
        <% current_user.addresses.each_with_index do |address, index| %>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="order_address_id_<%= address.id %>">
            <%= f.radio_button :address_id, address.id, class: "mdl-radio__button", checked:  index==0 %>

            <div class="mdl-radio__label layout vertical address-container">
              <div><b><%= address.name %></b></div>
              <div><%= address.street_address1 %></div>
              <% if address.street_address2 %>
                <div><%= address.street_address2 %></div>
              <% end %>
              <div><%= address.city + "," + address.state + " " + address.zipcode %></div>
            </div>
          </label>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="order-form-billing">
    <p>Billing</p>

    <% if current_user.credit_cards.count == 0 %>
      <div class="layout horizontal center-justified">
        <%= link_to 'Add Credit Card', new_user_credit_card_path(current_user), id: "submit-order" %>
      </div>
    <% end %>

    <div class="layout vertical">
      <% current_user.credit_cards.each_with_index do |card, index| %>
        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="order_credit_card_id_<%= card.id %>">
          <%= f.radio_button :credit_card_id, card.id, class: "mdl-radio__button", checked:  index==0 %>

          <div class="mdl-radio__label layout vertical">
            <div class="layout horizontal center">
              <i class="fa fa-cc-<%= card.icon %>"></i>
              <b><%= card.brand %></b> ending in <%= card.last4 %>
            </div>
          </div>
        </label>
      <% end %>
    </div>
  </div>

  <% if !(current_user.credit_cards.empty? || current_user.addresses.empty?) %>
    <%= f.submit "Place Order", id: "submit-order", class: "layout horizontal center-justified" %>
  <% end %>
<% end %>
