<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width:360px;margin-bottom: 30px;background: #fff;padding: 30px;margin-right:30px;">

    <p style="font-size: 16px;color: #333;height: 20px;font-weight:500;margin-bottom:30px;">Contact & Shipping</p>


    <%= f.hidden_field :user_id, value: current_user.id %>


    <div style="font-size:13px;font-weight:bold;">
      Shipping Address
    </div>

    <% if current_user.addresses.count == 0 %>
      <div class="layout horizontal center-justified" style="width:100%;">
        <%= link_to 'Add Address', new_user_address_path(current_user), id: "submit-order", style: "margin-right:10px;margin-left:0;" %>
      </div>
    <% end %>
    <div class="layout vertical">
      <% current_user.addresses.each do |address| %>
        <div class="horizontal layout center">
          <%= f.radio_button(:address_id, address.id) %>
          <div class="layout vertical" style="margin-left:10px;">
            <div style="font-size:12px;font-weight:bold;margin-top:8px;"><%= address.name %></div>
            <div style="font-size:12px;">
              <%= address.street_address1 %><br>
              <%= address.street_address2 %><br>
              <%= address.city + "," + address.state + " " + address.zipcode %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div style="width:360px;margin-bottom: 30px;background: #fff;padding: 30px;margin-right:30px;">
    <div class="layout horizontal">
      <p style="font-size: 16px;color: #333;height: 20px;font-weight:500;margin-bottom:30px;">Billing</p>
    </div>

    <% if current_user.credit_cards.count == 0 %>
      <div class="layout horizontal center-justified" style="width:100%;">
        <%= link_to 'Add Credit Card', new_user_credit_card_path(current_user), id: "submit-order", style: "margin-right:10px;margin-left:0;" %>
      </div>
    <% end %>

    <div class="layout vertical">
      <% current_user.credit_cards.each do |card| %>
        <div class="horizontal layout" style="margin-top:8px;">
          <%= f.radio_button(:credit_card_id, card.id) %>
          <div class="layout horizontal" style="margin-left:10px;font-size:12px;">
            <% credit_card_icon = card.brand.downcase.strip.tr(" ", "-") %>
            <% credit_card_icon = credit_card_icon == "american-express" ? "amex" : credit_card_icon %>
            <i class="fa fa-cc-<%= credit_card_icon %>" style="font-size:2em;margin-right:8px;"></i>
            <b style="margin-right:4px;"><%= card.brand %></b>
            ending in <%= card.last4 %>
          </div>
        </div>
      <% end %>
    </div>

    <br>
    <%= f.submit "Continue", id: "submit-order", class: "layout horizontal center-justified" %>

  </div>
<% end %>
