<paper-material id="order-summary-container">
  <p>Order Summary</p>
  <table>
    <tr>
      <td id="item-header">Item</td>
      <td id="quantity-header">Quantity</td>
      <td id="price-header">Price</td>
    </tr>

    <% @order.line_items.each do |line_item| %>
      <tr>
        <td class="product-td">
          <div class="product-image">
            <%= image_tag line_item.product.image_url(:thumb) %>
          </div>
          <div class="product-title">
            <%= line_item.product.title %>
          </div>
        </td>

        <td class="quantity-td">
          <%= line_item.quantity %>
        </td>

        <td class="price-td">
          <%= number_to_currency(line_item.total_price) %>
        </td>
      </tr>
    <% end %>
  </table>

  <div class="summary-total-container layout horizontal">
    <div class="summary-total-header">SUBTOTAL</div>
    <div class="summary-total-price"><%= number_to_currency(@order.total_price) %></div>
  </div>

  <div class="summary-total-container layout horizontal">
    <div class="summary-total-header">TAX</div>
    <div class="summary-total-price"><%= number_to_currency(@order.total_price * 0.06) %></div>
  </div>

  <div class="summary-total-container layout horizontal">
    <div class="summary-total-header">Shipping</div>
    <div class="summary-total-price"><%= number_to_currency(0) %></div>
  </div>

  <div class="grand-total">
      <div class="grand-total-price"><%= number_to_currency(@order.total_price * 1.06) %></div>
      <div class="grand-total-header">GRAND TOTAL</div>
  </div>
</paper-material>
