<div class="layout center-justified vertical outside-container">
  <h2>Order #<%= (sprintf '%07d', @order.id) %></h2>

  <div class="layout horizontal center-justified wrap">
    <div id="order-shipping-container">
      <p>Shipping</p>

      <div>
        <%= @order.address.first_name %>
        <%= @order.address.last_name %>
      </div>

      <div>
        <%= @order.address.street_address1 %>
      </div>

      <% if @order.address.street_address2 %>
        <div>
          <%= @order.address.street_address2 %>
        </div>
      <% end %>

      <div>
        <%= @order.address.city + ", " + @order.address.state + " " + @order.address.zipcode %>
      </div>
    </div>

    <%= render @order %>
  </div>
  <div class="layout horizontal center-justified" style="width:100%;">
    <%= button_to 'Cancel', order_path(@order), method: :delete, data: { confirm: 'Are you sure?' }, id: "submit-order" %>
  </div>
</div>
