<div>
  Order Summary
</div>
<% if !cart.line_items.empty? %>
  <table style="border-bottom: 1px solid #ddd;padding-top: 20px;margin-bottom: 10px;width: 100%;">
    <tr>
      <td style="font-size:10px;color:#666;">Item</td>
      <td style="font-size:10px;color:#666;width:20px;">Quantity</td>
      <td style="text-align: right;
        width: 90px;
        padding-left: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;font-size: 10px;line-height:13px;color:#666;">
        Price
      </td>
      <td>
      </td>
    </tr>
    <%= render (cart.line_items) %>
  </table>

<div style="padding-right: 51px;height:15px;" class="layout horizontal">
  <div style="width:100%;text-align:right;text-transform: uppercase;color: #777;font-size: 10px;">
    SUBTOTAL
  </div>

  <div style="font-size: 12px;min-width: 100px;text-align: right;">
    <%= number_to_currency(cart.total_price) %>
  </div>
</div>


<div style="padding-right: 51px;height:15px;" class="layout horizontal">
  <div style="width:100%;text-align:right;text-transform: uppercase;color: #777;font-size: 10px;">
    Tax
  </div>

  <div style="font-size: 12px;min-width: 100px;text-align: right;">
    <%= number_to_currency(0) %>
  </div>
</div>


<div style="padding-right: 51px;height:15px;" class="layout horizontal">
  <div style="width:100%;text-align:right;text-transform: uppercase;color: #777;font-size: 10px;">
    Shipping
  </div>

  <div style="font-size: 12px;min-width: 100px;text-align: right;">
    <%= number_to_currency(0) %>
  </div>
</div>

<div style="line-height: 32px;margin-top: 18px;border-top: 1px solid #ddd;padding-top: 15px;padding-right: 51px;">

    <div style="font-size: 16px;font-weight:500;float: right;min-width: 100px;text-align: right;margin-top:-8px;">
      <%= number_to_currency(cart.total_price) %>
    </div>

    <div style="float: right;
      text-transform: uppercase;
      color: #777;
      font-size: 16px;
      word-wrap: normal;margin-top:-8px;">
      GRAND TOTAL
    </div>


</div>
<% else %>
  <div class="layout horizontal center-justified" style="margin-top:25px;">
    Your shopping bag is currently empty
  </div>
<% end %>
