<%= form_for([@user, @address]) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <% @address.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <div style="width:300px;">
    <div class="layout horizontal">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :first_name, class: "mdl-textfield__input" %>
        <label class="mdl-textfield__label" for="address_first_name">First name</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :last_name, class: "mdl-textfield__input" %>
        <label class="mdl-textfield__label" for="address_last_name">Last name</label>
      </div>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :street_address1, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label" for="address_street_address1">Street Address 1</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :street_address2, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label" for="address_street_address2">Street Address 2</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:119px;">
      <%= f.text_field :city, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label" for="address_city">City</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield" style="width:60px;">
      <%= f.select :state, Address::US_STATES, {}, {class: "mdl-textfield__input"} %>
      <label class="mdl-textfield__label" for="address_state">State</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:113px;">
      <%= f.text_field :zipcode, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label" for="address_zipcode">Zipcode</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :phone_number, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label" for="address_phone_number">Phone Number</label>
    </div>

    <div class="layout horizontal center-justified">
      <div class="submit-container2">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
