<div class="outside-container">
  <h2>Address Book</h2>

  <div class="layout horizontal center-justified wrap">
    <% @addresses.each do |address| %>
      <paper-material class="address-box">
        <div>
            <%= address.first_name %>
            <%= address.last_name %>
        </div>

        <div>
            <%= address.street_address1 %>
        </div>

        <% if address.street_address2 %>
          <div>
              <%= address.street_address2 %>
          </div>
        <% end %>

        <div>
            <%= address.city %>, <%= address.state %> <%= address.zipcode %>
        </div>
        <%= "<br>".html_safe if address.street_address2.empty? %>

        <div class="layout horizontal end center-justified">
          <%= link_to 'Edit', edit_user_address_path(@user, address), id: "submit-order", style: "margin-right:10px;" %>
          <%= button_to 'Remove', user_address_path(@user, address), method: :delete, data: { confirm: 'Are you sure?' }, id: "submit-order" %>
        </div>
      </paper-material>
    <% end %>
  </div>
</div>

<%= link_to new_user_address_path(@user) do %>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab">
    <i class="material-icons">add</i>
  </button>
<% end %>
