<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
    <%= f.text_field :title, class: "mdl-textfield__input", style: "font-size:2.5em;" %>
    <label class="mdl-textfield__label" for="post_title" style="font-size:2.5em;">Title</label>
  </div>

  <%= f.text_area :content %>

  <div class="layout horizontal center-justified">
    <div class="submit-container2">
      <%= f.submit %>
    </div>
  </div>
<% end %>
