<div style="margin-bottom:136px;">
  <div style="max-width: 37em;margin: auto;text-align: center;">
    <p><%= post.created_at.strftime("%B %-d, %Y") %></p>
    <%= link_to post, class: "recipe-title" do %>
      <h1><%= post.title %></h1>
    <% end %>
  </div>

  <% if show %>
    <div id="post-content">
      <%= raw @post.content %>
    </div>
  <% else %>
    <div id="post-content">
      <%= (truncate(post.content, :separator => '[---MORE---]', :length => 600, :escape => false)) %>
    </div>
    <%= link_to post, class: "recipe-read-more" do %>
      Read More
    <% end %>
  <% end %>

  <div class="layout center-justified horizontal" style="margin:auto;margin-top:3em;width:30em;">
    <%= link_to post, class: "layout horizontal center comment-link" do %>
      <i class="material-icons" style="margin-right:8px;font-size:1em;">share</i>
      share
    <% end %>
  </div>
</div>
