<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="product-form-container">
    <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
      <%= f.text_field :title, class: "mdl-textfield__input", style: "font-size:2.5em;" %>
      <label class="mdl-textfield__label" for="product_title" style="font-size:2.5em;">Title</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield" style="width: 150px;">
      <%= f.text_field :price, class: "mdl-textfield__input", pattern: "-?[0-9]*(\.[0-9]+)?" %>
      <label class="mdl-textfield__label" for="product_price">Price</label>
      <span class="mdl-textfield__error">Price must be a number!</span>
    </div>

    <div class="mdl-textfield mdl-js-textfield" style="width:100%;">
      <%= f.text_area :description, class: "mdl-textfield__input", rows: 8 %>
      <label class="mdl-textfield__label" for="product_description">Description</label>
    </div>
  </div>

  <div class="layout vertical center center-justified file-upload">
    <%= f.file_field :image %>

    <div class="mdl-textfield mdl-js-textfield">
      <%= f.text_field :remote_image_url, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label" for="product_remote_image_url">or image URL</label>
    </div>
  </div>

  <div class="layout horizontal center-justified">
    <div class="submit-container2">
      <%= f.submit %>
    </div>
  </div>
<% end %>
