<div class="outside-container layout horizontal wrap center-justified">
  <% @products.each do |product| %>
    <%= link_to product, { class: "product-tile"} do %>
      <div class="layout vertical start-justified product-image" style="background-image:url('<%= product.image_url(:thumb) %>');"></div>

      <div class="layout vertical center-justified product_overlay">
        <p class="layout horizontal center-justified" style="color:#333;font-weight:800;">
          <%= product.title %>
        </p>

        <p class="layout horizontal center-justified cost">
          <%= number_to_currency(product.price) %>
        </p>
      </div>
    <% end %>
  <% end %>

  <%= will_paginate @products %>
</div>

<% content_for :search do %>
  <%= form_tag products_path, method: :get do %>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable" style="margin-top:-2px;color:#fff;">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search-expandable">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <%= text_field_tag :search, params[:search], class: "mdl-textfield__input", id: "search-expandable" %>
        <label class="mdl-textfield__label" for="search-expandable"></label>
      </div>
    </div>
  <% end %>
<% end %>

<% if current_user.try(:admin?) %>
  <%= link_to new_product_path do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab">
      <i class="material-icons">add</i>
    </button>
  <% end %>
<% end %>
