<% if current_user.try(:admin?) %>
  <div class="layout horizontal center-justified flex" style="margin-top: 50px;">
    <%= link_to "edit", edit_product_path(@product), class: "edit-link" %>

    <%= link_to "delete", product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-link" %>
  </div>
<% end %>

<div style="box-sizing: border-box;width: auto;margin: auto;max-width: 1080px;padding: 50px 34px 100px 34px;" class="layout horizontal center-justified">
  <div class="layout vertical center-justified" style="width: 48.5%;margin-right:1.5%;">
    <%= image_tag @product.image_url, style: "width:100%;", class: "layout center-justified vertical" %>
  </div>

  <div style="width: 48.5%;margin-left:1.5%;">
    <h1>
      <%= @product.title %>
    </h1>

    <p>
      <%= number_to_currency(@product.price) %>
    </p>

    <p>
      <%= @product.description %>
    </p>

    <div class="layout vertical">
      <div>Quantity:</div>

      <%= form_for(@line_item, remote: true) do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.number_field :quantity %>
        <div class="layout horizontal start-justified">
          <div class="submit-container2">
            <iron-icon icon="icons:add-shopping-cart"></iron-icon>
            <%= f.submit "Add to Cart" %>
          </div>
        </div>
      <% end %>
      <div style="color:red;font-size:11px;display:none;" id="quantity-error">
        <i>* Quantity must be greater than one</i>
      </div>
    </div>
  </div>
</div>
