<% if current_user.try(:admin?) %>
  <div class="layout horizontal center-justified" id="delete-product">
    <%= link_to "delete", product_path(@product), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<div class="outside-container">
  <div class="layout horizontal center-justified" id="large-screen-product-page">
    <div class="layout horizontal center" id="product-image">
      <%= image_tag @product.image_url, class: "layout center-justified vertical" %>
    </div>

    <div id="product-info">
      <h1><%= @product.title %></h1>

      <p>
        <%= number_to_currency(@product.price) %>
      </p>

      <p>
        <%= @product.description %>
      </p>

      <div class="layout vertical">
        <div>Quantity:</div>

        <%= form_for(@line_item, remote: true) do |f| %>
          <%= f.hidden_field :product_id, value: @product.id %>
          <div class="mdl-textfield mdl-js-textfield" id="product-show-quantity">
            <%= f.number_field :quantity, min: 1, class: "mdl-textfield__input", pattern: "-?[0-9]*(\.[0-9]+)?" %>
            <label class="mdl-textfield__label" for="line_item_quantity"></label>
            <span class="mdl-textfield__error">Quantity is not a number!</span>
          </div>
          <div class="layout horizontal start-justified">
            <div class="submit-container2">
              <iron-icon icon="icons:add-shopping-cart"></iron-icon>
              <%= f.submit "Add to Cart" %>
            </div>
          </div>
        <% end %>

        <div id="quantity-error">
          <i>* Quantity must be greater than one</i>
        </div>
      </div>
    </div>
  </div>

  <div class="layout vertical center" id="small-screen-product-page">
    <div class="layout horizontal center" id="product-image">
      <%= image_tag @product.image_url, class: "layout center-justified vertical" %>
    </div>

    <h1 style="text-align:center;"><%= @product.title %></h1>

    <p>
      <%= number_to_currency(@product.price) %>
    </p>

    <p>
      <%= @product.description %>
    </p>

    <div class="layout vertical start">
      <div>Quantity:</div>

      <%= form_for(@line_item, remote: true) do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <div class="mdl-textfield mdl-js-textfield" id="product-show-quantity">
          <%= f.number_field :quantity, min: 1, class: "mdl-textfield__input", pattern: "-?[0-9]*(\.[0-9]+)?" %>
          <label class="mdl-textfield__label" for="line_item_quantity"></label>
          <span class="mdl-textfield__error">Quantity is not a number!</span>
        </div>
        <div class="layout horizontal start-justified">
          <div class="submit-container2">
            <iron-icon icon="icons:add-shopping-cart"></iron-icon>
            <%= f.submit "Add to Cart" %>
          </div>
        </div>
      <% end %>

      <div id="quantity-error">
        <i>* Quantity must be greater than one</i>
      </div>
    </div>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <%= link_to edit_product_path(@product) do %>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored fab">
      <i class="material-icons">edit</i>
    </button>
  <% end %>
<% end %>
