<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="layout vertical center">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :amount, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label">Amount</label>
      <div class="mdl-tooltip" for="plan_amount">
        The amount in cents to be charged on the interval specified
      </div>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :name, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label">Name</label>
      <div class="mdl-tooltip" for="plan_name">
        Display name of the plan.
      </div>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.text_field :id, class: "mdl-textfield__input" %>
      <label class="mdl-textfield__label">Id</label>
      <div class="mdl-tooltip" for="plan_id">
        Shorthand identifier.
      </div>
    </div>

    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      <%= f.submit %>
    </button>
  </div>
<% end %>
