<tr class="line-item-tr">
  <td class="product-td">
    <div class="product-img">
      <%= image_tag line_item.product.image_url(:thumb) %>
    </div>
    <div class="product-title">
      <%= line_item.product.title %>
    </div>
  </td>

  <td class="quantity-td">
    <%= form_for(line_item, remote: true) do |f| %>
      <%= f.number_field :quantity, min: 1 %>
    <% end %>
  </td>

  <td class="total-td">
    <%= number_to_currency(line_item.total_price) %>
  </td>

  <td class="delete-td layout vertical center-justified">
    <%= button_to "&times;".html_safe, line_item_path(line_item), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
