%header.mdc-toolbar.mdc-theme--primary-bg
  .mdc-toolbar__row
    %section.mdc-toolbar__section.mdc-toolbar__section--align-start
    %section.mdc-toolbar__section.mdc-toolbar__section--align-middle
      = link_to root_path, class: "mt-3" do
        = image_tag "logo.png"
    %section.mdc-toolbar__section.mdc-toolbar__section--align-end
      - if user_signed_in?
        = link_to "My Account", edit_user_registration_path,
            class: "header-link mr-1"
        \|
        = link_to "Sign Out", destroy_user_session_path, method: :delete,
            class: "header-link ml-1 mr-2"
      - else
        = link_to "Sign in", user_session_path, class: "header-link mr-2"
      = render "carts/preview"
