%header.mdc-toolbar.mdc-theme--primary-bg
  .mdc-toolbar__row
    %section.mdc-toolbar__section.mdc-toolbar__section--align-start
      %a.material-icons{:href => "#"} menu
    %section.mdc-toolbar__section.mdc-toolbar__section--align-middle
      = link_to root_path, class: "mt-3" do
        = image_tag "logo.png"
    %section.mdc-toolbar__section.mdc-toolbar__section--align-end
      -# = yield :search
      - if @cart
        #small-cart-link.mr-6.layout.pointer
          %i.material-icons
            shopping_cart
          (#{@cart.count_items})
        #cart-peek
          = render @cart
          - if !@cart.line_items.empty?
            .layout.horizontal.center-justified{:style => "margin-top:40px;"}
              .submit-container2{:style => "margin:0;"}
                = button_to "Checkout", new_order_path, method: :get
